@using DAL.UtilityModels
@using WebMVC.Models.Order
@model OrderViewModel

<div class="order-details">
    <h2>Order #@Model.Id</h2>
    <p><strong>Date:</strong> @Model.Date.ToString("dd.MM. yyyy")</p>

    <table class="table">
        <thead>
            <tr>
                <th>Cover</th>
                <th>Title</th>
                <th>Author</th>
                <th>Quantity</th>
                <th>Unit Price</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Items)
            {
                <tr>
                    <td>
                        <img src="~/cover-images/@item.Book.CoverImageName"
                             alt="failed to load cover image" style="max-height:120px;" />
                    </td>
                    <td>@item.Book.Title</td>
                    <td>@item.Book.AuthorName</td>
                    <td>@item.Quantity</td>
                    <td>@item.Book.Price.ToString("C")</td>
                    <td>@((item.Quantity * item.Book.Price).ToString("C"))</td>
                </tr>
            }
        </tbody>
    </table>

    @if (TempData["Error"] != null)
    {
        <div class="alert alert-danger">@TempData["Error"]</div>
    }

    @if (TempData["Success"] != null)
    {
        <div class="alert alert-success">@TempData["Success"]</div>
    }

    <h3>Total Price: @Model.TotalPrice.ToString("C")</h3>

    @if (Model.GiftcardCode != null)
    {
        <h4>Giftcard applied: <strong>@Model.GiftcardCode</strong></h4>
        <h4>Discount: -@((Model.TotalPrice - Model.FinalPrice).ToString("C"))</h4>
    }

    <h2><strong>Final Price: @Model.FinalPrice.ToString("C")</strong></h2>


    @if (Model.PaymentStatus == PaymentStatus.InProgress)
    {
        <form asp-controller="Order" asp-action="ApplyGiftcard" method="post" class="mt-3">
            @Html.AntiForgeryToken()
            <input type="hidden" name="orderId" value="@Model.Id" />

            <div class="mb-3">
                <label>Giftcard code:</label>
                <input type="text" name="code" class="form-control"
                       placeholder="Enter your giftcard code" />
            </div>

            <button type="submit" class="btn btn-primary">
                Apply Giftcard
            </button>
        </form>

        <form asp-controller="Order" asp-action="PayOrder" method="post" class="mt-3">
            @Html.AntiForgeryToken()
            <input type="hidden" name="id" value="@Model.Id" />
            <button type="submit" class="btn btn-success">
                Pay Order
            </button>
        </form>
    }
</div>
